*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(90deg, #18186f 0%, #00d4ff 100%);
    background-size: auto 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container{
    border: 2px solid white ;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
}

.new-task-container{
    width: 100%;
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.new-task-container input{
    font-size: 1rem;
    border: 2px solid #d1d3d4;
    border-radius: 5px;
    padding: 12px;
    font-weight: 500;
    width: 100%;
    margin-bottom: 8px;
    text-align: center;
}

.new-task-container input:focus{
    outline: none;
    border-color: #18186f;
}

.new-task-container input:focus::placeholder{
    opacity: 0;
}

.new-task-button{
    flex: 1;
    border-radius: 5px;
    font-weight: 500;
    height: 100%;
    font-size: 1rem;
    border: none;
    background-color: #18186f;
    padding: 12px;
    cursor: pointer;
    color: white;
}

.tasks-container{
    background-color: #fff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.task-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    margin-top: 6px;
}

.task-item i{
    background-color: #18186f;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.task-item i:hover{
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
}


/* Utilities*/
.error{
    border: 2px solid red !important;
}

.error::placeholder{
    color: red;
}